/* *****Déclaration des variables******************* */

:root {
    --principal_color: #A4082F;
}

body {
    background-color: #F1F5F8;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}


/* ***************top bar */

.social i {
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid black;
    color: var(--principal_color);
}

#face {
    background-color: #fff;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    border: 2px solid black;
    color: var(--principal_color);
}

#FR {
    color: var(--principal_color);
}

.social a {
    color: rgb(27, 27, 27);
    text-decoration: none;
}


/* ***********Navbar************************* */

.logoSimp {
    height: 5rem;
}

.navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--principal_color);
}

.active {
    color: var(--principal_color) !important;
}


/* .active:hover{
    border-bottom: transparent;
} */

#mainnav {
    background-color: transparent;
}


/* .navbar.active {
    background-color: rgba(0, 0, 0, 0.74) !important;
} */

.backImg {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imgs/back.jpg');
    background-position: center;
    background-size: cover;
}

.parag {
    font-weight: 900;
    font-size: 55px;
    color: white;
}

.txt-rotate {
    background-color: var(--principal_color);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--principal_color);
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    transition: 0.8s ease-in-out;
}

#myBtn:hover {
    background-color: var(--principal_color);
    border-radius: 50px;
    opacity: 0.8;
}


/* *********Section Qui sommes nous!************************ */


/* .details::before {
    content: "";
    width: 6rem;
    top: 130px;
    height: 4px;
    background-color: var(--principal_color);
    position: absolute;
    transition: 0.5s;
} */

.apropos {
    font-size: 35px;
}

.definition {
    font-size: 18px;
}

.section1 {
    background-color: #CE0033;
}

.section1 button {
    background-color: #fff;
    width: 16rem;
    font-size: 25px;
    color: var(--principal_color);
}


/* *************section Nos evenements************************** */

#titleborder {
    width: 6rem;
    background-color: var(--principal_color);
    height: 4px;
}

.description {
    font-size: 19px;
}

.event {
    background-color: #fff;
    padding: 25px;
}

.card-img-overlay {
    display: none;
}

.card:hover .card-img-overlay {
    display: block;
    background-color: #ce003475;
}

.card a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.moreEvent {
    background-color: #F1F5F8;
    color: var(--principal_color);
}

.moreEvent p {
    font-size: 18px;
}

.kidsP1 {
    height: 13rem;
}


/* *********************Chiffres Simplon******************************** */

.chiffre {
    font-size: 23px;
    text-justify: auto;
}

.chiffres {
    font-size: 60px;
    color: var(--principal_color);
    font-weight: 2000;
}

.cardChiffre {
    background-color: #fff;
}


/* **************Footer************************************************************ */


/* Main Footer */

footer .main-footer {
    padding: 20px 0;
    background: rgb(34, 30, 30);
}

footer ul {
    padding-left: 0;
    list-style: none;
}


/* Copy Right Footer */

.footer-copyright {
    background: rgb(34, 30, 30);
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid white;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: white;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: white;
    margin: 2px 0 0;
}


/* Footer Top */

.footer-top {
    background: grey;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}


/* Footer transparent */

footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}


/* Footer light */

footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}


/* Footer 4 */

.footer- .logo {
    display: inline-block;
}


/*==================== 
	Widgets 
====================== */

.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.widget li a:hover {
    color: #ce0033;
}

.widget-title {
    margin-bottom: 20px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #ce0033;
    font-size: 18px;
}

.typo-light p {
    color: white;
    font-size: 18px;
}

.typo-light p:hover {
    color: #ce0033;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.logo {
    height: 80px;
    width: 80%;
}

ul li a img:hover {
    background-color: #ce0033;
}