/* *****Déclaration des variables******************* */

:root {
    --principal_color: #A4082F;
}

body {
    background-color: #F1F5F8;
    font-family: 'Nunito', sans-serif;
    
}


/* ***************top bar */

.social ul li {
    list-style: none;
}

.social ul li i {
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid black;
    color: var(--principal_color);
}

#face {
    background-color: #fff;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    border: 2px solid black;
    color: var(--principal_color);
}

#FR {
    color: var(--principal_color);
}

.social a {
    color: rgb(27, 27, 27);
    text-decoration: none;
}


/* ***********Navbar************************* */
.logoSimp{
    height: 5rem;
}
.navbar-nav .nav-item .nav-link{
    color: rgb(202, 189, 189);
    font-size: 23px;    
}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--principal_color);
}


.active{
    color:var(--principal_color) !important;
}
/* .active:hover{
    border-bottom: transparent;
} */

.navbar{
    background-color: transparent;
}
.navbar.active{
  background-color: rgba(0, 0, 0, 0.74) !important;
}

.backImg{
        width: 100%;
        height: 70vh;
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../imgs/back.jpg');
        background-position:center;
        background-size: cover;
    
}
.parag{
    font-weight:bold;
    font-size: 55px;
    color: white;
}



/* *********Section Qui sommes nous!************************ */

/* .details::before {
    content: "";
    width: 6rem;
    top: 130px;
    height: 4px;
    background-color: var(--principal_color);
    position: absolute;
    transition: 0.5s;
} */

.apropos {
    font-size: 50px;
}

.definition {
    font-size: 25px;
}

.section1 {
    background-color: #CE0033;
}

.section1 button {
    background-color: #fff;
    width: 20rem;
    font-size: 25px;
    color: var(--principal_color);
    border: 1px solid black;
}


/* *************section Nos evenements************************** */

#titleborder {
    width: 6rem;
    background-color: var(--principal_color);
    height: 4px;
}

.description {
    font-size: 19px;
}

.event {
    background-color: #fff;
    padding: 25px;
}

.card-img-overlay {
    display: none;
}

.card:hover .card-img-overlay {
    display: block;
    background-color: #ce003475;
}

.card a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.moreEvent {
    background-color: #F1F5F8;
    color: var(--principal_color);
}

.moreEvent p {
    font-size: 18px;
}
.kidsP1{
    height: 15rem;
}

/* *********************Chiffres Simplon******************************** */
.chiffre{
    font-size: 23px;
    text-justify: auto;
}
.chiffres{
    font-size: 60px;
    color: var(--principal_color);
}